
/* Main cards Style */
* {
    box-sizing: border-box;
  }
  
  .card {
    width: 250px;
    background: #fff;
    margin: auto;
    -webkit-box-shadow: 10px 10px 33px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 33px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 33px -7px rgba(0,0,0,0.75);
    border-radius: 5px;
  }
  body{
    background-color: red;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 960px) {
  .card{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
} 
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 961px) {
  .card{
    margin-top: 50%;
  }
} 


.card__heart__icon{
  display: block;
  position: absolute;
  color:red;
}
.glyphicon-heart-empty{
  color: white;
  font-size: 30px;
  margin: 10px 0px 0px 10px;
}
  .card__thumb {
    height: 200px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    border-radius: 5px;
     
  }
  .card__thumb img {
    opacity: 1;
   
  }
  .card_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
  }
  .card:hover .card__thumb img {
  opacity: 0.6; 
  }
  .card:hover .card__thumb {
    height: 70px;
    border-radius: 15px 15px 0px 0px;
  }
  
  .card__body {
    position: relative;
    padding: 20px;
    height: 75px;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
  }
  .card:hover .card__body {
    height: 200px;
  }
  
  .card__icons{
    position: absolute;
    top: -25px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background: #8225cf;
    color: #fff;
    font-size: 11px;
    line-height: 25px;
  }
  .card__icon__item{
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bolder;
  }
  .card__title {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    margin: -15px -10px 10px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card__subtitle {
    color: black;
    margin: -10px -10px 3px;
    font-size: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card__description {
    visibility: hidden;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    width: 230px;
    height: 115px;;
    position: absolute;
    left: 10px;
    right: 20px;
    bottom: 25px;
    top:70px;
    color: black;
    font-size: 14px;
    line-height: 1.6;
    opacity: 0;
  }
  .card:hover .card__description {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -ms-transform: translateY(0);
    transform: translateY();
    visibility: initial;
  }
  .card:hover .card__title {
    color:#8225cf;
    font-weight: 900;
  }
 
  .card:hover .card__subtitle {
    font-weight: 900;
  }
  
  .card:hover{
    border: solid;
    border-color: #8225cf;
    background-color:#FDF7FF;
    border-width: 5px;
    border-radius: 20px;
  }