
/* Main cards Style */
* {
    box-sizing: border-box;
  }
  
  .card {
    width: 275px;
    background: #fff;
    margin: auto;
    -webkit-box-shadow: 10px 10px 33px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 33px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 33px -7px rgba(0,0,0,0.75);
    border-radius: 5px;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 960px) {
  .card{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
} 
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 961px) {
  .card{
    margin-top: 60%;
  }
} 

.card__button{
  background-color: #8225cf;
  color:white;;
  margin-top: 15px;
  width: 125px;
  margin: 10px 15px 10px 0px;
}
.card__button:hover{
  background-color: white;
  color: #8225cf;
  border: solid;
  border-color: #8225cf;
  border-width: 2px;
  font-weight: bolder;
}

#parent {
  display: flex;
}

.card__heart__icon{
  display: block;
  position: absolute;
  color:red;
  cursor: pointer;
}
.glyphicon-heart-empty{
  color: white;
  font-size: 30px;
  margin: 10px 0px 0px 10px;
}
  .card__thumb {
    height: 310px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    border-radius: 5px;
  }
  .card__thumb img {
    opacity: 1;
   
  }
  .card_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
  }
  .card:hover .card__thumb {
    height: 130px;
    border-radius: 15px 15px 0px 0px;

  }
  
  .card__body {
    position: relative;
    padding: 20px;
    height: 50px;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
  }
  .card:hover .card__body {
    height: 160px;
    margin-top: 90px;
    border-radius: 15px;

  }
  .card:hover .card__button{
    margin-top: 120px;

  }
  
  .card__icons{
    position: absolute;
    top: -104px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background: #8225cf;
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    width: 100%;
    text-align: center;
  }
  .card__icons:hover{
  }
  .card__icon__item{
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bolder;
  }
  .card__title {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    margin: -80px -10px 10px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card__subtitle {
    color: black;
    margin: -10px -10px 3px;
    font-size: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card__description {
    visibility: hidden;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    width: 230px;
    height: 115px;;
    position: absolute;
    left: 10px;
    right: 20px;
    bottom: 25px;
    top:70px;
    color: black;
    font-size: 14px;
    line-height: 1.6;
    opacity: 0;
  }
  .card:hover .card__description {
    opacity: 1;
    visibility: initial;
    margin-top: -70px;
  }
  .card:hover .card__title {
    color:#8225cf;
    font-weight: 900;
  }
 
  .card:hover .card__subtitle {
    font-weight: 900;
  }
  
  .card:hover{
    border: solid;
    border-color: #8225cf;
    background-color:#FDF7FF;
    border-width: 5px;
    border-radius: 20px;
  }


  /*-----------------*/
  .fadein {
    position:absolute;
}
.fadein img {
    width: 250px;
    position:absolute;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f2 {
    -webkit-animation-delay: -4s;
}
#f3 {
    -webkit-animation-delay: -2s;
}
